<h1>Welcome to Workout Tracker</h1>
<h2>Add a new exercise to your list</h2>
<div class = "form">
    <form method = "post" action = "/" id = "workoutForm">
        <label for="name">Exercise Name:</label>
        <input type = "text" name = "name" id = "name"><br><br>
        <label for="reps">Number of Repetitions:</label>
        <input type = "text" name = "reps" id = "reps"><br><br>
        <label for="weight">Weights Used:</label>
        <input type = "text" name = "weight" id = "weight"><br><br>
        <label for="date">Date:</label>
        <input type = "text" name = "date" id = "date" placeholder = "YYYY-MM-DD"><br><br>
        <label for="lbs">Measurement Units:</label>
        <input type = "radio" name = "lbs" value = "0" id = "lbs" checked = "checked">kgs
        <input type = "radio" name = "lbs" value = "1" id = "lbs">lbs<br><br>
        <input type = "submit" name = "AddWorkout" value = "AddWorkout" id = "submit"><br><br><br>   
    </form>
</div>

<div id = "error"></div>

<div class = "table">
<table>
    <caption class = "title">Completed Exercises</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Repetitions</th>
            <th>Weights</th>
            <th>Date</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody id = "rows"></tbody>
</table>
</div>